@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*NavBar*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

#empty-space1{
  width: 100%; /*this is the first layer*/
  height:20px;
  background-color: transparent;
}

/*Insert your CSS here*/
#empty-space{
  width: 100%;
  height:130px;
}/*Creates an empty space above promotion photos and information*/


/*Products*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;    
  padding: 20px 20%;
}

.products .item {
  width: 32%;
  padding-bottom: 32%; /* Same as width, sets height */
  margin-bottom: 2%; /* (100-32*3)/2 */
  height: 0px;
}

.products .item #pic{
  height: 80%;
  width: 100%;
}

.products .item #pic #coffeepics{
  width: 100%; /*to fit to the 'item' div 100%*/
}

